[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/yadm/dracula/gnome-terminal"]
	path = .config/yadm/dracula/gnome-terminal
	url = https://github.com/dracula/gnome-terminal
[submodule ".themes/dracula"]
	path = .themes/dracula
	url = https://github.com/dracula/gtk.git
[submodule ".config/yadm/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .config/yadm/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/yadm/oh-my-zsh-custom/plugins/fast-syntax-highlighting"]
	path = .config/yadm/oh-my-zsh-custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/yadm/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .config/yadm/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:nrichart/doom-emacs-private.git
