[push]
    default = simple
[color]
    ui = auto
[commit]
#	gpgsign = true
[gpg]
	program = gpg2
[core]
	pager = less -FRKX
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rerere]
	enabled = true
[include]
	path = .gitconfig.local
[pull]
	rebase = false
[gitlab]
	user = nrichart
